<app-navbar></app-navbar>
<div class="row m-2">
  <div class="col-sm-5">
    <div align="center" class="mt-2"> <h5>Bills</h5></div>
    <div class="card m-2" *ngFor="let item of bills">
      <div class="card-body p-2 pl-3">
        <div class="row">
          <div class="col-sm-4">
            Bill Number:<h5 class="card-title">{{item.bill_num}}</h5>
          </div>
          <div class="col-sm-4">
            Bill Amount:<h5 class="card-title">{{item.net_amt_due}}</h5>
          </div>
          <div class="col-sm-4">
            Billing Date:<h5 class="card-title">{{item.reading_date}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-primary btn-sm btn-block" (click)="OpenBill(item)">Open Bill</button>
          </div>
          <div class="col-sm-4" *ngIf="item.paid == true">
            <a href="#" class="btn btn-success btn-sm btn-block ">Paid</a>
          </div>
          <div class="col-sm-4" *ngIf="item.paid == false">
            <a href="#" class="btn btn-danger btn-sm btn-block">Unpaid</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div align="center" class="mt-2"> <h5>Detailed Bill </h5></div>
    <div class="card" *ngIf="bill.bill_num > 0">
      <div class="card-body">
        <div class="row" align="center">
          <div class="col-sm-4">
            RR Number:<h6 class="card-title">{{bill.rr_num}}</h6>
          </div>
          <div class="col-sm-4">
            Account ID:<h6 class="card-title">{{bill.account_id}}</h6>
          </div>
          <div class="col-sm-4">
            Bill Number:<h6 class="card-title">{{bill.bill_num}}</h6>
          </div>
        </div>
        <hr>
        <div class="row" align="center">
          <div class="col-sm-6">
            Billing Period:<h6 class="card-title">{{bill.from_date}} - {{bill.to_date}}</h6>
          </div>
          <div class="col-sm-6">
            Bill Date:<h6 class="card-title">{{bill.reading_date}}</h6>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-sm-12">
            Due Date:<h6 class="card-title">{{bill.due_date}}</h6>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            Name & Address:<h6 class="card-title">{{bill.name}}<br>{{bill.address}}</h6>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <br>
        <table class="table table-bordered">
          <thead>
          <tr align="center">
            <th scope="col">Tariff</th>
            <th scope="col">Sanctioned Load (KW)</th>
            <th scope="col">Sanctioned load (HP)</th>
          </tr>
          </thead>
          <tbody>
          <tr align="center">
            <td>{{bill.tariff}}</td>
            <td>{{bill.sanct_load}}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <br>
        <h6 align="center">Meter Readings for Meter Number {{bill.meter_sl_num}} </h6>
        <table class="table table-bordered">
          <thead>
          <tr align="center">
            <th scope="col">Description</th>
            <!--<th scope="col">Date</th>-->
            <th scope="col">KWH Meter</th>
            <th scope="col">KVAH Meter</th>
          </tr>
          </thead>
          <tbody>
          <tr align="center">
            <td scope="row">Meter Constant</td>
            <td>1</td>
            <td></td>
          </tr>
          <tr align="center">
            <td scope="row">Consumption</td>
            <td>{{bill.consumption}}</td>
            <td>0</td>
          </tr>
          <tr align="center">
            <td scope="row">Less/Add:Consumption</td>
            <td>0</td>
            <td></td>
          </tr>
          <tr align="center">
            <td scope="row">Net Consumption</td>
            <td>{{bill.consumption}}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <div class="card">
          <div id="headingTwo">
            <h5 class="mb-0">
              <ul class="list-group">
                <a class="list-group-item collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><h6>Detailed Bill</h6></a>
              </ul>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Amount (Rs)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td scope="row">Bill Amount for the consumtion {{bill.consumption}}</td>
                  <td>{{bill.net_amt_due}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <div align="right"><h6> Sd/-<br>Assistant Executive Engineer (Ele.)</h6></div>
        <div class="row">
          <div class="col-sm-4">
            <a href="#" class="btn btn-primary btn-sm btn-block">Pay Bill</a>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
