<app-navbar></app-navbar>
<div class="row m-2">
  <div class="col-sm-5">
    <div align="center" class="mt-2"> <h5>Bills</h5></div>
    <div class="card m-2">
      <div class="card-body p-2 pl-3">
        <!-- First row -->
        <div class="row">
          <div class="col-sm-5">
            Bill Number:<h5 class="card-title">331857984059</h5>
          </div>
          <div class="col-sm-3">
            Bill Amount:<h5 class="card-title">631.00</h5>
          </div>
          <div class="col-sm-4">
            Billing Date:<h5 class="card-title">26-04-2018</h5>
          </div>
        </div>
        <!-- Third  Row-->
        <div class="row">
          <div class="col-sm-4">
            <a href="#" class="btn btn-primary btn-sm btn-block">Open Bill</a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="btn btn-success btn-sm btn-block disabled">Paid</a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="btn btn-danger btn-sm btn-block disabled">Unpaid</a>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- Detailed Bill-->
  <div class="col-sm-7">
    <div align="center" class="mt-2"> <h5>Detailed Bill </h5></div>
    <div class="card">
      <div class="card-body">

        <div class="row" align="center">
          <div class="col-sm-4">
            RR Number:<h6 class="card-title">KL20997</h6>
          </div>
          <div class="col-sm-4">
            Account ID:<h6 class="card-title">3318501000</h6>
          </div>
          <div class="col-sm-4">
            Bill Number:<h6 class="card-title">331857984059</h6>
          </div>
        </div>
        <hr>

        <div class="row" align="center">
          <div class="col-sm-6">
            Billing Period:<h6 class="card-title">12-03-2018 - 12-04-2018</h6>
          </div>
          <div class="col-sm-6">
            Bill Date:<h6 class="card-title">12-04-2018</h6>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-sm-6">
            Due Date:<h6 class="card-title">26-04-2018</h6>
          </div>
          <div class="col-sm-6">
            Disconnection Date:<h6 class="card-title">11-05-2018</h6>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            Name & Address:<h6 class="card-title">Sudarshan K Shanbhag<br>385/1385/1 BANDHAR ROAD
            KUMTA, KAR -581343</h6>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <br>
        <table class="table table-bordered">
          <thead>
          <tr align="center">
            <th scope="col">Type</th>
            <th scope="col">Tariff</th>
            <th scope="col">Sanctioned Load (KW)</th>
            <th scope="col">Sanctioned load (HP)</th>
          </tr>
          </thead>
          <tbody>
          <tr align="center">
            <td scope="row">Domestic - LT2A</td>
            <td>5LT2A1-N</td>
            <td>0.70</td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <br>
        <h6 align="center">Meter Readings for Meter Number 4155857356 </h6>
        <table class="table table-bordered">
          <thead>
          <tr align="center">
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">KWH Meter</th>
            <th scope="col">KVAH Meter</th>
          </tr>
          </thead>
          <tbody>
          <tr align="center">
            <td scope="row">Present Reading</td>
            <td>12-04-2018</td>
            <td>1916</td>
            <td></td>
          </tr>
          <tr align="center">
            <td scope="row">Previous Reading</td>
            <td>12-03-2018</td>
            <td>1795</td>
            <td></td>
          </tr>
          <tr align="center">
            <td scope="row">Difference</td>
            <td></td>
            <td>121</td>
            <td>0</td>
          </tr>
          <tr align="center">
            <td scope="row">Meter Constant</td>
            <td></td>
            <td>1</td>
            <td></td>
          </tr>
          <tr align="center">
            <td scope="row">Consumption</td>
            <td></td>
            <td>121</td>
            <td>0</td>
          </tr>
          <tr align="center">
            <td scope="row">Less/Add:Consumption</td>
            <td></td>
            <td>0</td>
            <td></td>
          </tr>
          <tr align="center">
            <td scope="row">Net Consumption</td>
            <td></td>
            <td>121</td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <div class="card">
          <div id="headingTwo">
            <h5 class="mb-0">
              <ul class="list-group">
                <a class="list-group-item collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><h6>Detailed Bill</h6></a>
              </ul>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <!-- Table -->
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Amount (Rs)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td scope="row">Fixed charges: For the First 1.00 KW at Rs40.00 per kW</td>
                  <td>Mark</td>
                </tr>
                </tbody>
              </table>
              <!--end table-->
            </div>
          </div>
        </div>
        <br>
        <div align="right"><h6> Sd/-<br>Assistant Executive Engineer (Ele.)</h6></div>
        <div class="row">
          <div class="col-sm-4">
            <a href="#" class="btn btn-danger btn-sm btn-block">Close</a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="btn btn-primary btn-sm btn-block">Pay Bill</a>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End bill detail-->
</div>

<br><br>
