<app-navbar></app-navbar>
<div class="row m-1" align="center">
  <div class="col-sm-6 mt-5 p-3">
    <h5> Meter Status</h5>
    <hr>
    <table class="table table-borderless">
      <thead>
      <tr class="tr-font" align="center">
        <th scope="col">Current Rating (Amps)</th>
        <th scope="col">Voltage Rating (Volts)</th>
        <th scope="col">KWH (KWH)</th>
      </tr>
      </thead>
      <tbody>
      <tr align="center">
        <td class="my-font red">0.003</td>
        <td class="my-font green">230</td>
        <td class="my-font red">0.0001</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6  mt-5 p-3">
    <h5> Meter Details</h5>
    <hr>
    <table class="table table-borderless">
      <tbody>
      <tr>
        <td>RR Number:</td>
        <th>{{userdata.rr_num}}</th>
        <td>Account ID:</td>
        <th>{{userdata.id}}</th>
      </tr>
      <tr>
        <td>Sanctioned Load:</td>
        <th>{{userdata.sanct_load}}</th>
        <td>Tariff</td>
        <th>{{userdata.tariff}}</th>
      </tr>
      <tr>
        <td>Name:</td>
        <th>{{userdata.name}}</th>
        <td>Address:</td>
        <th>{{userdata.address}}</th>
      </tr>
      </tbody>
    </table>
    <hr>


    <table class="table table-borderless">
      <tbody>
      <tr>
        <td>Check bills that are charged here.</td>
        <td>Here you can check the notifications sent by BESCOM</td>
        <td>Here you can check the messages sent by BESCOM</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-primary">
            Bills <span class="badge badge-light">4</span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">
            Notifications <span class="badge badge-light">4</span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">
            Messages <span class="badge badge-light">4</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>






<br><br>
