<app-navbar></app-navbar>
<br>
<div align="center"><h5> Billing Charges Applied</h5></div>
<div class="row m-1" align="center">
  <div class="col-sm-6 mt-5 p-3">
    <h5>Fixed Charges</h5>
    <!--<hr>-->
    <table class="table table-bordered">

        <thead>
        <tr   align="center">
          <th scope="col">KW Consumed</th>
          <th scope="col">Charges Applied</th>
        </tr>
        </thead>
      <tbody>
        <tr  align="center">
          <td>For 1 KW</td>
          <th>50 /-</th>
        </tr>
        <tr   align="center">
          <td>For Every 1 KW</td>
          <th>40 /-</th>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="col-sm-6 mt-5 p-3">
    <h5>Variable Charges</h5>
    <!--<hr>-->
    <table class="table table-bordered">
      <thead>
      <tr align="center">
        <th scope="col">Units Consumed</th>
        <th scope="col">Charges Applied</th>
      </tr>
      </thead>
      <tbody>
      <tr align="center">
        <td>0 - 30 Units</td>
        <td>3.25 per unit</td>
      </tr>
      <tr align="center">
        <td>31 - 100 Units</td>
        <td>4.70 per unit</td>
      </tr>
      <tr align="center">
        <td>101 - 200 Units</td>
        <td>6.25 per unit</td>
      </tr>
      <tr align="center">
        <td>201 - 300 Units</td>
        <td>7.30 per unit</td>
      </tr>
      <tr align="center">
        <td>301 - 400 Units</td>
        <td>7.35 per unit</td>
      </tr>
      <tr align="center">
        <td>Above 400 Units</td>
        <td>7.40 per unit</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>





<br><br>
